html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* body {
  background-color: #6295a2;
} */

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 999;
}

.navbar-logo {
  width: 75px;
  height: auto;
}

.navbar-brand {
  font-weight: bolder;
  font-size: xx-large;
}

.cards-container {
  max-width: 90%;
  margin: auto;
}

.cards-heading {
  font-weight: bolder;
  font-size: larger;
  margin-top: 200px;
  text-align: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  margin: 20px;
  padding: 10px;
}

.project-image img {
  width: 100%;
  height: auto;
}

.project-info {
  text-align: left;
}

.project-title {
  margin: 10px 0;
  font-size: 1.5em;
  text-align: left;
}

.project-description {
  color: #777;
  font-size: 0.9em;
  margin: 10px 0;
}

.project-links {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.github-link,
.live-link {
  background-color: #bfdaef;
  padding: 7px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.github-link:hover,
.live-link:hover {
  background-color: #d5f0c1;
}
